body {
    background-color: lightslategray;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    position: relative;
    min-width: 0;
    max-height: 100px;
    min-height: 20px;
    align-content: flex-end;
}
.top-left {
    position:absolute

}
h1 {

    outline-color: maroon;
    font-style: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: top right;
    margin: 20px;