body{
    background-color: silver;
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: maroon;
}
article{
 font-size: 32px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: rgb(109, 8, 5);
text-align: center;
 position: relative;
 padding: 10px;

}
.tabs{
 border: white;
 border-spacing: 10px;
 border-width: 100px;
 padding-bottom: 20px;
 flex-direction: column;
 fill-rule: evenodd;
 fill: slategrey;
}
.secbanner{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    flex-wrap: wrap;
    position: relative;
}
.container{
    display: flex;
    align-items: right;
    justify-content: center;
}
img{
    max-width: 100%;
}
.image{
    flex-basis: 10%;
    float: left;
    margin: 0px 300px 50px 0px;
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding-left: 10px;

}