body {
    background-color:#1A1A1D ;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.header {
    font-size: 40px;
    font-style: initial;
    font-family: ;
    
}